.week-table {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.week-table tr {
	background-color: #EEBBBB;
}

.week-table td {
	width: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: green;
}

