{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
	<h2>Admin Page</h2>
		<br>
			<p>Calendar App stores all tasks as records in the database.</p>
			<p>In the admin panel, these records can be changed or deleted, and new records can be created.</p>
			<p>Edit or add Tasks <a href="http://localhost:3000/admin/task/">here</a>.
			</p>
			<a class="btn btn-primary" href="{{ url_for('index_page') }}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
		</div>
	</div-->
</div>
{% endblock body %}

