
{% macro dayTasks(tasks,functions) -%}
<td style="text-align: center;">
	{% if tasks is equalto [] %}
		&lt;FRI&gt;
	{% else %}
		{% for t in tasks %}
			<h4><a href="/calendar_task/{{ t.id }}">{{ t.title }}</a></h4>
			<h5>{{ functions.timespan_to_string(t.start,t.stop) }}</h5>
				{{ t.description }}
			<br style="margin: 0 0 20px 0;">
		{% endfor %}
	{% endif %}
</td>
{% endmacro %}


{% macro weekLinks(year,weeks,week) -%}
<h4 id="week-links-title">Weeks in {{ year }}</h4>
<table class="week-links-table">
<thead>
</thead>
<tbody>
	{% for w in weeks %}
	{% if w is equalto week %}
	<tr><td id="active-week-link"><a href="/{{ year }}/week={{ w }}"><div>Week {{ w }}</div></a></td></tr>
	{% else %}
	<tr><td><a href="/{{ year }}/week={{ w }}"><div>Week {{ w }}</div></a></td></tr>
	{% endif %}
	{% endfor %}
</tbody>
</table>
{% endmacro %}
