{% extends "base.html" %}
{% import 'object.html' as object %}


{% block content %}
<div class="container">
	<h1>Tasks mode</h1>
	<p>Tasks mode allows you to browse all coming tasks in an orderly fashion, and rearrange them as you see fit.</p>
	<p>Tasks can be sorted into categories, and you can change their significance values, making them appear in a sorted manner.</p>
	<p>New tasks can be added, and when a Task is done, marking it as done will remove it from the list. (it will however show up in your history)</p>
</div>
{% endblock %}
