{% extends "base.html" %}
{% import 'object.html' as object %}


{% block navbar %}
<ul>
	<a href="/{{ year }}">Back</a>
	<br style="margin: 0 0 20px 0;">
</ul>
{{ object.weekLinks(year,weeks,week) }}
{% endblock %}

{% block content %}
<!-- HEADER -->
<table>
	<tr>
		<td style="padding: 0 10px 0 10px;"><h1>{{ year }}, Week {{ week }}</h1></td>
		<td style="padding: 0 10px 0 5px;"><a href="/{{ year }}/week={{ previous_week }}" class="btn btn-primary" role="button">Previous</a></td>
		<td><a href="/{{ year }}/week={{ next_week }}" class="btn btn-primary" role="button">Next</button></td>
	</tr>
</table>



<!-- CONTENT -->
<table class="week-table">
	<tr style="font-weight: bold; text-align: center;">
		<td>Monday</td>
		<td>Tuesday</td>
		<td>Wednesday</td>
		<td>Thursday</td>
		<td>Friday</td>
		<td>Saturday</td>
		<td>Sunday</td>
	</tr>
	<tr>
		{{ object.dayTasks(mon_t) }} <!-- MONDAY -->
		{{ object.dayTasks(tue_t) }} <!-- TUESDAY -->
		{{ object.dayTasks(wed_t) }} <!-- WEDNESDAY -->
		{{ object.dayTasks(thu_t) }} <!-- THURSDAY -->
		{{ object.dayTasks(fri_t) }} <!-- FRIDAY -->
		{{ object.dayTasks(sat_t) }} <!-- SATURDAY -->
		{{ object.dayTasks(sun_t) }} <!-- SUNDAY -->
	</tr>
</table>
{% endblock %}
